@model NeSHOP.Models.DatabaseBackModel

@{
    ViewData["Title"] = "Database Backup";
}

@section Scripts{
<script type="text/javascript">

    $(function () {
        $("#BackupDate").focus();
        $("#BackupDate").datepicker({ dateFormat: "yy-mm-dd" }).val();
        $("#btn[value=Backup]").click(function (event) {
            var btnValue = $("#btn[value=Backup]").val(); // "Clear";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                var device = $("#BackupDate").val();
                if (device != null) return true;
                else {
                    alert('Please Select Any one Device First....!!');
                    return false;
                }
            }
            else return false;

        });

        $("#btn[value=Exit]").click(function (event) {
            var btnValue = $("#btn[value=Exit]").val(); // "Exit";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });


            if ($("#SuccessStat").val() == "1") {
                $.alert("Stockin Successfull...!!", { withTime: true, type: 'success', title: 'Success:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "2") {
                $.alert("Stockin Fail...!!", { withTime: true, type: 'warning', title: 'Fail:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "3") {
                $.alert("Stockin Data Exception...!!", { withTime: true, type: 'info', title: 'Info:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }

    });
</script> 
}


<form action="/Admin/dailybackup" method="post"> 
    <div class="row container padding-top padding-bottom" style="width:95%">
        <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
            <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
                <h4>Challan Search</h4> 
            </div>
            <div class="panel-body">
                        <div class="row p-1 pt-4 mb-1">
                            <div class="col-md-4"><label asp-for="BackupDate" class="control-label"></label></div>
                            <div class="col-md-8">
                                <input type="text" asp-for="BackupDate" class="form-control w-50 rounded-1" />

                                <input type="hidden" id="SuccessStat" value="@ViewData["SuccessStat"]" />
                            </div>
                        </div>                         
                        <div class="row mb-2">
                            <div class="col-4"></div>
                            <div class="col-8 col-lg-4 btn-group p-3" role="group">
                                <button type="submit" class="btn btn-primary btn-sm" id="btn" name="btn" value="Backup">Backup</button>
                                <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Clear">Clear</button>
                                <button type="submit" class="btn btn-danger btn-sm" id="btn" name="btn" value="Exit">Exit</button>
                            </div>
                        </div>
                </div> 

            </div>
        </div>
    </div>
</form>
