@model NeSHOP.Models.UserInfoModel

@{
    ViewData["Title"] = "Employee Entry";
}

@section Scripts{
<script type="text/javascript">

        $(function () {
            $("#NickName").focus();
            if ($("#chkOpType").is(":checked")) {
                $("#EmpId").attr("readonly", false);
            }
            else $("#EmpId").attr("readonly", true);

            $("#EmpId").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#btn[value=Search]").focus();
                    return false;
                }
            });

            $("#NickName").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#FullName").focus();
                    return false;
                }
            });

            $("#FullName").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#EmpAddress").focus();
                    return false;
                }

            });

            $("#EmpAddress").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#EmpComments").focus();
                    return false;
                }

            });

            $("#EmpComments").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#EmpEmail").focus();
                    return false;
                }

            });

            $("#EmpEmail").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#EmpPhone").focus();
                    return false;
                }

            });

            $("#EmpPhone").keypress(function (event) {
                if (event.which == 13 || event.which == 9) {
                    $("#btn[value=Save]").focus();
                    return false;
                }

            });

            $("#chkOpType").change(function (event) {
                if ($("#chkOpType").is(":checked")) {
                    $("#EmpId").attr("readonly", false);
                    $("#EmpId").focus();
                    return false;
                }
                else {
                    $("#EmpId").attr("readonly", true);
                    $("#NickName").focus();
                    return false;
                }
            });

            $("#btn[value=Save]").click(function (event) {
                var btnValue = $("#btn[value=Save]").val(); // "Save";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {

                    return true;
                }
                else return false;

            });

            $("#btn[value=Update]").click(function (event) {
                var btnValue = $("#btn[value=Update]").val(); // "Update";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });

            $("#btn[value=Search]").click(function (event) {
                var btnValue = $("#btn[value=Search]").val(); // "Search";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });

            $("#btn[value=Clear]").click(function (event) {
                var btnValue = $("#btn[value=Clear]").val(); // "Clear";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });

            $("#btn[value=Exit]").click(function (event) {
                var btnValue = $("#btn[value=Exit]").val(); // "Exit";
                answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
                if (answer != "0") {
                    return true;
                }
                else return false;

            });


            if ($("#SuccessStat").val() == "1") {
                $.alert("Operation Successfull...!!", { withTime: true, type: 'success', title: 'Success:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "2") {
                $.alert("Operation Fail...!!", { withTime: true, type: 'warning', title: 'Fail:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "3") {
                $.alert("Operation Data Exception...!!", { withTime: true, type: 'info', title: 'Info:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }

        });

    </script>
 
}


<form action="/Admin/userpermission" method="post"> 
    <div class="row container padding-top padding-bottom" style="width:95%">
        <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
            <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
                <h4>Employee Information</h4>
            </div>
            <div class="panel-body">
                <div class="row p-1 mt-3 mb-1">
                    <div class="col-2 col-lg-2">
                        <label asp-for="EmpId" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <select asp-for="EmpId" class="form-select form-select-lg w-100" asp-items="@(new SelectList(Model.EmpList, "Value", "Text"))"> </select>
                    </div>
                    <div class="col-2 col-lg-2">
                        <label asp-for="IsActive" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="checkbox" asp-for="IsActive" value="1" />
                    </div>
                </div>
                <div class="row p-1 mb-1">
                    <div class="col-2 col-lg-2">
                        <label asp-for="NickName" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="NickName" class="form-control w-100 rounded-1" />
                    </div>
                    <div class="col-2 col-lg-2">
                        <label asp-for="EmpComments" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="EmpComments" class="form-control w-100 rounded-1" />
                    </div>
                </div>
                <div class="row p-1 mb-1">
                    <div class="col-2 col-lg-2">
                        <label asp-for="FullName" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="FullName" class="form-control w-100 rounded-1" />
                    </div>
                    <div class="col-2 col-lg-2">
                        <label asp-for="EmpEmail" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="EmpEmail" class="form-control w-100 rounded-1" />
                    </div>
                </div>
                <div class="row p-1 mb-1">
                    <div class="col-2 col-lg-2">
                        <label asp-for="EmpAddress" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="EmpAddress" class="form-control w-100 rounded-1" />
                    </div>
                    <div class="col-2 col-lg-2">
                        <label asp-for="EmpPhone" class="control-label"></label>
                    </div>
                    <div class="col-4 col-lg-4">
                        <input type="text" asp-for="EmpPhone" class="form-control w-100 rounded-1" />
                    </div>
                </div>
                <div class="row p-1 mb-1">                    
                    <div class="col-2"></div>
                    <div class="col-8 btn-group p-3" role="group">
                        <button type="submit" class="btn btn-primary btn-sm" id="btn" name="btn" value="Save">Save</button>
                        <button type="submit" class="btn btn-warning btn-sm" id="btn" name="btn" value="Search">Search</button>
                        <button type="submit" class="btn btn-success btn-sm" id="btn" name="btn" value="Update">Update</button>
                        <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Clear">Clear</button>
                        <button type="submit" class="btn btn-danger btn-sm" id="btn" name="btn" value="Exit">Exit</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
