@model NeSHOP.Models.TblRoleModel

@{
    ViewData["Title"] = "Role Entry";
}

@section Scripts{
<script type="text/javascript">


    $(function () {
        $("#Roledesc").focus();
        $("#Rolecode").attr("readonly", true);

        $("#chkOpType").change(function (event) {
            var okCheck = $("#chkOpType");
            if (okCheck.is(":checked")) {
                $("#Rolecode").attr("readonly", false);
                $("#Rolecode").focus();
            }
            else {
                $("#Rolecode").attr("readonly", true);
                $("#Roledesc").focus();
            }
            return false;
        });


        $("#Rolecode").keypress(function (event) {
            if (event.which == 13 || event.which == 9) {
                if ($("#Rolecode").val() == "") {
                    alert('Rolecode Does not Empty');
                    $("#Rolecode").focus();
                }
                else {
                    $("#Roledesc").focus();
                }
                return false;
            }
        });

        $("#Roledesc").keypress(function (event) {
            if (event.which == 13 || event.which == 9) {
                if ($("#Roledesc").val() == "") {
                    alert('Role desc Does not Empty');
                    $("#Roledesc").focus();
                }
                else {
                    var okCheck = $("#chkOpType");
                    if (okCheck.is(":checked")) {
                        $("#btn[value=Update]").focus();
                    }
                    else {
                        $("#btn[value=Save]").focus();
                    }
                }
                
                return false;
            }
        });

        $("#btn[value=Update]").click(function (event) {
            var btnValue = $("#btn[value=Update]").val(); // "Update";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });

        $("#btn[value=Search]").click(function (event) {
            var btnValue = $("#btn[value=Search]").val(); // "Search";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });

        $("#btn[value=Clear]").click(function (event) {
            var btnValue = $("#btn[value=Clear]").val(); // "Clear";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });

        $("#btn[value=Exit]").click(function (event) {
            var btnValue = $("#btn[value=Exit]").val(); // "Exit";
            answer = confirm("Are You Cofirme to " + btnValue + " This Operation.....?");
            if (answer != "0") {
                return true;
            }
            else return false;

        });

            if ($("#SuccessStat").val() == "1") {
            $.alert("Operation Successfull...!!", { withTime: true, type: 'success', title: 'Success:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "2") {
                $.alert("Operation Fail...!!", { withTime: true, type: 'warning', title: 'Fail:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
            else if ($("#SuccessStat").val() == "3") {
                $.alert("Operation Data Exception...!!", { withTime: true, type: 'info', title: 'Info:', icon: 'glyphicon glyphicon-heart', minTop: 100 });
            }
    });

</script> 
}

<form action="/Admin/roleinfo" method="post"> 
    <div class="row container padding-top padding-bottom" style="width:95%">
        <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
            <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
                <h4>New Role Entry</h4> 
            </div>
            <div class="panel-body">
                        <div class="row p-1 pt-3 mb-1">
                            <div class="col-md-4"><label asp-for="Rolecode" class="control-label"></label></div>
                            <div class="col-md-8">
                                <select asp-for="Rolecode" class="form-select form-select-lg w-50" asp-items="@(new SelectList(Model.RolecodeList, "Value", "Text"))"> </select> 
                                <input type="hidden" id="SuccessStat" value="@ViewData["SuccessStat"]" />
                            </div>
                        </div> 

                        <div class="row p-1 mb-2">
                            <div class="col-md-4"><label asp-for="Roledesc" class="control-label"></label></div>
                            <div class="col-md-8">
                                <input type="text" asp-for="Roledesc" class="form-control w-50 rounded-1" />
                            </div>
                        </div>          
                         <div class="row p-1 mb-2">
                            <div class="col-md-4"><label asp-for="IsActive" class="control-label"></label></div>
                            <div class="col-md-8">
                                <input type="CheckBox" asp-for="IsActive" />
                            </div>
                        </div>         
                        <div class="row mb-2">
                            <div class="col-3"></div>
                            <div class="col-6 btn-group p-3" role="group">
                                <button type="submit" class="btn btn-success btn-sm" id="btn" name="btn" value="Save">Save</button>
                                <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Update">Update</button>
                                <button type="submit" class="btn btn-primary btn-sm" id="btn" name="btn" value="Search">Search</button>
                                <button type="submit" class="btn btn-info btn-sm" id="btn" name="btn" value="Clear">Clear</button>
                                <button type="submit" class="btn btn-danger btn-sm" id="btn" name="btn" value="Exit">Exit</button>
                            </div>
                        </div>
                </div> 

            </div>
        </div>
    </div>
</form>


