@{
    ViewData["Title"] = "About Us";
}

<div class="row container padding-top padding-bottom" style="width:95%">
    <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
        <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
            <h4>About NEITS</h4>
        </div>
        <div class="panel-body">
        <fieldset>
           <legend>About NEITS</legend>    
           <table width="100%">
           <tr>
           <td>
           <h2>NEITS Address:</h2>
            <p>
                <h2>NewEarth IT Solution (NEITS)</h2>
                68/5, Robin Villa(Ground floor), Green Road,<br />
                Dhaka-1205, Bangladesh.<br />
                Phone# +880-1710563521
            </p>
           </td>
           <td style=" text-align: right;">
           <h2>Contact US:</h2>
            <p>
                <h2>NewEarth IT Solution (NEITS)</h2>
                E-mail: info@neitdbd.com,<br />
                Web: www.neitsbd.com.<br />
                Phone# +8801-557883169
            </p>
           </td>
           </tr>
           </table>
         </fieldset> 
        </div>
    </div>
 </div>

