@model dynamic
@{
    ViewData["Title"] = "User Manual";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row container padding-top padding-bottom" style="width:95%">
    <div class="panel panel-responsive bg-gray-light  mt-1 pb-2 rounded-2">
        <div class="panel-heading bg-navy-active p-2 mt-0 rounded-2 text-center">
            <h4>User Manual</h4>
        </div>
        <div class="panel-body"">
       <legend>User Mnaual</legend>    
        <p>
            Thank's a lot to continue with us, before operation must read manual as well as .
            <br /> if any query increase to understand this opeartional manual please contact with us.<br />
            for download user manual click <a href="#" target="_blank">Download</a>.
        </p>
    
        </div>
    </div>
</div>


